<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.slovak-prog</string>
	<key>CFBundleName</key>
	<string>slovak-prog</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>KLInfo_Slovak (Prog)</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.slovak-prog.slovak(prog)</string>
		<key>TISIntendedLanguage</key>
		<string>sk</string>
	</dict>
</dict>
</plist>
